h1 {
    text-align: center;
}
p {
    text-align: center;
}
h6 {
    text-align: center;
}
img{
    display: block;
    margin: 0 auto;
    width: 53%;
}
body {
    background-color:white;
border: 1px solid black;
}
a herf {
    text-align: center;
}